<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="turismoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\turismo.mdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.serviceModel>
    <!-- Alterar aqui - lufer -->
    <services>
       <service name="Service">
          <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
             bindingConfiguration="" contract="IService" />
       </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--lufer-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--lufer-->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>   <!--lufer-->
	</system.webServer>
</configuration>
