<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="turismoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\turismo.mdb" providerName="System.Data.OleDb" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
    <!-- Alterar aqui - lufer -->
    <services>
       <service name="Service">
          <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="" contract="IService" />
       </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--lufer-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--lufer-->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />   <!--lufer-->
	</system.webServer>
<system.data>
    <DbProviderFactories>
      <remove invariant="lcpi.data.oledb" />
      <add name="LCPI OleDb Data Provider" invariant="lcpi.data.oledb" description="LCPI .NET Data Provider for OLE DB" type="lcpi.data.oledb.OleDbFactory, lcpi.data.oledb.net4, Version=1.5.0.3103, Culture=neutral, PublicKeyToken=ff716095e8002e7e" />
    </DbProviderFactories>
  </system.data></configuration>
